body, html {
margin:0px;
padding:0px;
height: 100%;
}

body {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    color: #333333;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

* html #maket {
height: 100%;
}


.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#maket {
width:960px;
margin:0 auto;
min-height: 100%;
margin-top: 50px;
}

#header{
    background: none repeat scroll 0 0 #C80000;
    height: 165px;
    position: relative;
}


#header #ident {
    display: block;
    float: left;
    margin-left: 15px;
}


#header #h_title {
    float: right;
    margin: 37px 20px 0 0;
    position: relative;
    text-align: right;
}

.grid {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1000px;
}

#menu_panel {
    border-top: 1px solid #D54444;
}


#mainmenu {
    float: none;
    height: 35px;
    margin: 0 2%;
    padding: 0;
    position: relative;
    width: 96%;
    z-index: 1;
}

#mainmenu ul {
    background: none repeat scroll 0 0 #C80000;
    border: medium none;
    display: block;
    float: none;
    height: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}


#mainmenu ul li {
    display: block;
    float: left;
    height: 35px;
    position: relative;
    text-align: center;
}

#mainmenu ul li a.current:after {
    color: #C80000;
    content: "▼";
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 23px;
    z-index: 2000;
}

.left{
	float: left;
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px #999999;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-decoration: none;
    transition: margin 0.05s ease 0s;
    width: 180px;
}

.right{
width:300px;
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px #999999;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-decoration: none;
    transition: margin 0.05s ease 0s;
float:right;
}

.content{
margin-right:202px;
}

#footer{
clear:both;
height: 50px;
margin-top:-50px;
width:1000px;
margin-left: auto;
margin-right: auto;
background: none repeat scroll 0 0 #C80000;
}

#footer #copy {
    display: block;
    float: left;
    margin-left: 15px;
	margin-top: 15px;
	color: #fff;
}

#garant {
height: 50px;
}

.project {
	height: auto;
}

.project_title a {
    background: url("../imgs/ico/plus.gif") no-repeat scroll 5px 0 transparent;
    display: block;
    margin-bottom: 10px;
    padding-left: 35px;
    text-decoration: none;
    width: 100%;
	height: 22px;
}

.project_title a.opened {
    background: url("../imgs/ico/minus.gif") no-repeat scroll 5px 0 transparent;
    display: block;
    margin-bottom: 10px;
    padding-left: 35px;
    text-decoration: none;
    width: 100%;
	height: 22px;
}

a.show{
    background: url("../images/ico/hide.png") no-repeat scroll 5px 0 transparent;
    display: block;
    margin-bottom: 10px;
    padding-left: 35px;
    text-decoration: none;
    width: 100%;
    height: 22px;
}

a.hide {
    background: url("../images/ico/show.png") no-repeat scroll 5px 0 transparent;
    display: block;
    margin-bottom: 10px;
    padding-left: 35px;
    text-decoration: none;
    width: 100%;
    height: 22px;
}

.project_details {
	height: 100%;
}

.button {
    background: -moz-linear-gradient(center top , #F9F9F9 10%, #EEEEEE 70%) repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    color: #C80000;
    font-size: 14px;
}

.progress {
	border-radius: .5em;
	display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	color: #000;
	padding: .3em 1em .25em;
	width: 140px;
}

.finished {
	background: #0f0;
}

.inprogress {
	background: #f00;
}

.cancelled {
	background: #0ff;
}

/* form css3 */
.form-container {
    border: 1px solid #000000;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dbdbdb));
    background: -webkit-linear-gradient(top, #f2f2f2, #dbdbdb);
    background: -moz-linear-gradient(top, #f2f2f2, #dbdbdb);
    background: -ms-linear-gradient(top, #f2f2f2, #dbdbdb);
    background: -o-linear-gradient(top, #f2f2f2, #dbdbdb);
    background-image: -ms-linear-gradient(top, #f2f2f2 0%, #dbdbdb 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:360px;
    padding:20px;
    width:360px;
}
.form-field {
    border: 1px solid #000000;
    background: #ebe8e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #787572;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #fff;
    color: #000000;
}
.form-container h2 {
    text-shadow: #fdf2e4 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #000000;
    text-shadow: #fdf2e4 0 1px 0;
}
.submit-container {
    margin:8px 0;
    text-align:right;
    height: 60px;
}
.submit-button {
    border: 1px solid #447314;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #addc7e 0 1px 0;
    color: #31540c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
}

/* progress bar */
.ProgressBar,
.ProgressBar .Step {
    height: 24px; line-height: 24px;
}
.ProgressBar .Step {
    text-align: center;
    position: relative;
    float: left;
    font-weight: bold;
}
.ProgressBar .Arrow {
    position: absolute;
    height: 24px;
    width: 18px;
    top: 0;
    right: -17px;
    overflow: hidden;
}
.ProgressBar .Arrow-Head,
.ProgressBar .Arrow-Head DIV {
    border-width: 15px;
    border-style: solid;
    width: 0;
    height: 0;
    position: absolute;
}
.ProgressBar .Arrow-Head {
    border-color: transparent transparent transparent #fff;
    left: 2px;
    top: 50%;
    margin-top: -15px;
}
.ProgressBar .Arrow-Head DIV {
    left: -18px;
    top: -15px;
}

/* balloons */
.triangle-isosceles {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#000;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.arr_top {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
    background:-moz-linear-gradient(#f3961c, #f9d835);
    background:-o-linear-gradient(#f3961c, #f9d835);
    background:linear-gradient(#f3961c, #f9d835);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
    margin-left:50px;
    background:#f3961c;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles.right {
    margin-right:50px;
    background:#f3961c;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
    top:-15px; /* value = - border-top-width - border-bottom-width */
    right:50px; /* controls horizontal position */
    bottom:auto;
    left:auto;
    border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
    border-color:#f3961c transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
    top:16px; /* controls vertical position */
    left:-50px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:10px 50px 10px 0;
    border-color:transparent #f3961c;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
    top:16px; /* controls vertical position */
    right:-50px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:10px 0 10px 50px;
    border-color:transparent #f3961c;
}

.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #5a8f00;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
    margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
    margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
    top:-20px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
    top:-13px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.arr_left:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 30px 15px 0;
    border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.arr_left:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 21px 9px 0;
    border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.arr_right:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.arr_right:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #fff;
}



